[project]
	description = A sega genesis /megdrive sprite/scrollplane editor
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sigflup (sigflup)
[access "refs/for/refs/*"]
	read = group user/sigflup (sigflup)
	push = group user/sigflup (sigflup)
	label-Code-Review = -2..+2 group user/sigflup (sigflup)
	label-Verified = -1..+1 group user/sigflup (sigflup)
	rebase = group user/sigflup (sigflup)
	removeReviewer = group user/sigflup (sigflup)
	submit = group user/sigflup (sigflup)
[access "refs/heads/*"]
	read = group user/sigflup (sigflup)
	create = group user/sigflup (sigflup)
	push = +force group user/sigflup (sigflup)
	pushMerge = group user/sigflup (sigflup)
[access "refs/tags/*"]
	push = +force group user/sigflup (sigflup)
	pushTag = group user/sigflup (sigflup)
	pushSignedTag = group user/sigflup (sigflup)
